body {
  background-color: rgb(50, 175, 104);
  height: 900px;
}
nav {
  grid-template-columns: auto auto auto auto a;
  list-style-type: none;
  color: darkturquoise;
  text-align: center;
}
.topper {
  margin: 15px;
  padding: 15px;
  border-color: lightblue;
  border-width: 5px;
  border-style: double;
  background-color: slategray;
  display: inline-block;
}
.container {
  display: grid;
  grid-template-rows: auto auto;

  margin: 15px;
  padding: 15px;
  border-color: lightblue;
  border-width: 5px;
  border-style: double;
  background-color: slategray;
}
.avatar {
  width: 300px;
  margin-right: 800px;
}
.maintext {
  color: rgb(35, 41, 51);
  margin-left: 50px;
  margin-right: 800px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  overflow: scroll;
}
footer {
  color: rgb(35, 41, 51);
}
