body {
  display: grid;
  background-color: rgb(50, 175, 104);
  height: auto;
  border-color: rgba(139, 12, 12, 0.555);
  border-style: solid;
  border-width: 5px;
}
.header {
  height: 170px;
  display: flex;
  background-color: wheat;
  border-color: burlywood;
  border-style: outset;
  border-width: 10px;
  background-color: wheat;
  padding: 3px;
  justify-content: space-between;
}
.logo {
  height: 150px;
  align-self: center;
  margin-left: 10px;
}
nav {
  grid-template-columns: auto auto auto auto auto;
  list-style-type: none;
  color: darkturquoise;
  text-align: right;
  align-self: center;
}
.topper {
  margin: 15px;
  padding: 15px;
  border-color: lightblue;
  border-width: 5px;
  border-style: double;
  background-color: slategray;
  display: inline-block;
}
.container {
  border-color: lightblue;
  border-width: 5px;
  border-style: double;
  height: 550px;
  background-color: slategray;
  display: grid;
  grid-template-columns: auto auto auto;
}
.sections {
  align-self: center;
  justify-self: center;
  grid-row: 1 / span 2;
  width: 180px;
  height: 400px;
  background-color: wheat;
  border-color: burlywood;
  border-style: outset;
  border-width: 10px;
  justify-content: space-evenly;
}
.avatar {
  width: 200px;
  margin-right: 135px;
  justify-self: center;
}
.Feature {
  align-self: flex-end;
  margin-right: 20px;
  background-color: wheat;
  border-color: burlywood;
  border-style: outset;
  border-width: 10px;
}
.maintext {
  color: rgb(35, 41, 51);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 200px;
  max-width: 500px;
  margin-left: 30px;
  text-align: center;
  overflow-y: scroll;
  padding: 9px;
  background-color: wheat;
  border-color: burlywood;
  border-style: outset;
  border-width: 10px;
}
.Socials{
  margin-right: 20px;
  height: 200px;
  background-color: wheat;
  border-color: burlywood;
  border-style: outset;
  border-width: 10px;
}
footer {
  background-color: wheat;
  border-color: burlywood;
  border-style: outset;
  border-width: 10px;
  background-color: wheat;
}
