body {
  background-color: rgb(50, 175, 104);
  height: 900px;
  border-style: solid;
  border-color: black;
}
.header {
  border-style: solid;
  border-color: black;
  grid-template-columns: 1fr 1fr 2fr;
  background-color: wheat;
  padding: 3px;
}
.logo {
  height: 150px;
}
nav {
  grid-template-columns: auto auto auto auto auto;
  list-style-type: none;
  color: darkturquoise;
  text-align: center;
}
.topper {
  margin: 15px;
  padding: 15px;
  border-color: lightblue;
  border-width: 5px;
  border-style: double;
  background-color: slategray;
  display: inline-block;
}
.container {
  border-color: lightblue;
  border-width: 5px;
  border-style: double;
  background-color: slategray;
  display: grid;
  grid-template: 400px / 1fr 2fr 1fr;
}
.avatar {
  width: 200px;
  align-self: center;
  justify-self: center;
  background-color: blue;
}
.maintext {
  color: rgb(35, 41, 51);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  overflow: scroll;
  height: 230px;
  text-align: center;
}
footer {
  color: rgb(35, 41, 51);
  border-style: solid;
  border-color: black;
}
